spring:
  application:
    name: medico-care-system
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
  management:
    endpoints:
      web:
        exposure:
          include: health
