<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/forms.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div th:replace="~{fragments/home_navbar :: navbar}"></div>
	<section class="d-flex align-items-center justify-content-center py-5">
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-sm-10 col-md-6 col-lg-4">
	                <div class="glass-card p-4 text-center">
	                    <h4 class="fw-bold text-primary mb-3">Registration</h4>
	                    <!-- REGISTRATION FORM -->
	                    <form th:action="@{/register}" method="post">
	                    	<div class="mb-2 text-start">
	                        	<label class="form-label">Name</label>
	                            <input type="text" name="name" class="form-control" placeholder="Enter your Name" required>
	                        </div>
	                        <div class="mb-2 text-start">
	                            <label class="form-label">Email Address</label>
	                            <input type="email" name="email" class="form-control" placeholder="Enter your Email" required>
	                        </div>
	                            <div class="mb-2 text-start">
	                                <label class="form-label">Contact No</label>
	                                <input type="text" name="contactNo" class="form-control" placeholder="Enter your Phone Number" required>
	                            </div>
	                            <div class="mb-4 text-start">
	                                <label class="form-label">Password</label>
	                                <input type="password" name="password" class="form-control" placeholder="Enter your Password" required>
	                            </div>
	                            <div class="d-grid mb-2">
	                                <button type="submit" class="btn btn-primary">Register</button>
	                            </div>
	                            <div class="text-center small">
	                                Already have an account ?
	                                <a th:href="@{/login}" class="fw-semibold text-decoration-none">Login</a>
	                            </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</body>
</html>